.intro{
  background-color: #ADDDD0;
  height: 650px;
  margin-bottom: 80px;
  border-radius: 25px;
}
.navbar{
  display: inline;
}
.heading1{
  position: absolute;
  left: 5%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.heading2{
  position: absolute;
  top: 12%;
  left: 40%;
  font-family: 'Amaranth', sans-serif;
}
.intro-image{
  padding: 250px 50px;
  margin: -40px 50px 100px 50px;
  width: 500px;
}
.open-text{
  display: inline;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 40%;
  top: 30%;
  left: 55%;
  font-size: 1.6rem;
  color: #3D8361;
}
.intro-text{
  font-family: 'Ubuntu', sans-serif;
  display:inline;
  width: 40%;
  position: absolute;
  top: 40%;
  line-height: 2rem;
  left: 55%;
  font-weight: 600;
}
.ngo-data h3{
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 100px;
  text-align: center;
}
.ngo-data img{
  width: 100%;
}
